In [1]:
#import dependencies

from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# from sqlalchemy import create_engine
# engine = create_engine('postgresql://localhost:5432/<your_db_name>')
# connection = engine.connect()

In [2]:
employee_path = "../Data/employees.sqlite"

In [3]:
engine = create_engine(f"sqlite:///{employee_path}")

In [4]:
data = engine.execute("SELECT * FROM employees")

for record in data:
    print(record)

OperationalError: (sqlite3.OperationalError) no such table: employees
[SQL: SELECT * FROM employees]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [ ]:
# Query Single Record in the the Database
data = engine.execute("SELECT * FROM icecreamstore WHERE Price>=1.25;")
for record in data:
    print(record)

In [2]:
#create a connection to the sql server/database

engine = create_engine('postgresql://postgres:password@localhost:5432/Sql_HW')
connection = engine.connect()

ModuleNotFoundError: No module named 'psycopg2'

In [ ]:
#query the salaries table

salaries=pd.read_sql("SELECT * FROM salaries",connection)
salaries.head()

In [ ]:
#query the employees table

employees = pd.read_sql("select * from employees", connection)
employees.head()

In [ ]:
#query the titles table

titles = pd.read_sql("select * from titles",connection)
titles.head()

In [ ]:
#these are the three tables we will join
#first, join salaries to employees on emp_no

emp_sal = employees.merge(salaries, on = "emp_no")
emp_sal.head()

In [ ]:
#next, join the titles table to the newly created db on emp_title_id and title_id

final_db = emp_sal.merge(titles, left_on = "emp_title_id", right_on = "title_id")
final_db.head()

In [ ]:
#now we can extract a db of only the titles and salaries

sal_title_db = final_db[['salary','title']]
sal_title_db.head()

In [ ]:
#just to check the number of rows

sal_title_db.count()

In [ ]:
#in order to graph, the titles should be grouped using groupby and mean() for the salaries
#edited to round() to zero digits as they don't add anything to the data

sal_title_db.groupby('title')['salary'].mean().round(0)

In [ ]:
#now we can graph these salaries

sal_title_db.hist(column='salary',color = 'salmon')
plt.xlabel('Salary Range')
plt.ylabel('Salary Frequency/Count')
plt.title('Salary Average Distribution')

In [ ]:
 # now we can take a look at the salaries by title

sal_title_db2 = sal_title_db.groupby(['title'])['salary'].mean()
sal_title_db2.plot.barh(color='lightblue')
plt.ylabel('Job Title')
plt.xlabel('Avg Salary')
plt.title('A Look at Salary Averages Across Job Titles')
plt.show()

In [ ]:
emp = final_db.loc[final_db['emp_no'] == 499942]
emp