In [1]:
%matplotlib inline

In [2]:
#import dependencies
import sqlalchemy
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# from sqlalchemy import create_engine
employees_path = "../Data/employees.sqlite"

In [4]:
#Create a connection to the sql server/database
engine = create_engine(f"sqlite:///{employees_path}")
conn = engine.connect()

In [5]:
#Query the employees table
Employees = pd.read_sql("SELECT * FROM employees", conn)
Employees.head()

OperationalError: (sqlite3.OperationalError) no such table: employees
[SQL: SELECT * FROM employees]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [6]:
# from sqlalchemy import create_engine
salaries_path = "../Data/salaries.sqlite"

In [7]:
#Create a connection to the sql server/database
engine = create_engine(f"sqlite:///{salaries_path}")
conn = engine.connect()

In [8]:
#Query the salaries table
salaries=pd.read_sql("SELECT * FROM salaries",conn)
salaries.head()

OperationalError: (sqlite3.OperationalError) no such table: salaries
[SQL: SELECT * FROM salaries]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [ ]:
# from sqlalchemy import create_engine
titles_path = "../Data/titles.sqlite"

In [ ]:
#Create a connection to the sql server/database
engine = create_engine(f"sqlite:///{titles_path}")
conn = engine.connect()

In [ ]:
#Query the titles table
titles = pd.read_sql("SELECT * FROM titles",conn)
titles.head()

In [ ]:
#Merge the tables together
#First -  join the salaries table to employees table on emp_no
emp_sal = employees.merge(salaries, on = "emp_no")
emp_sal.head()

In [ ]:
#Second - join the titles table to the newly created database (emp_sal) on emp_title_id and title_id
final_db = emp_sal.merge(titles, left_on = "emp_title_id", right_on = "title_id")
final_db.head()

In [ ]:
#Extract a database of only the titles and salaries
sal_title_db = final_db[['salary','title']]
sal_title_db.head()

In [ ]:
#Count the number of rows
sal_title_db.count()

In [ ]:
#Group the Titles using groupby and mean() for the Salaries so we can graph
#Round() to zero digits since they don't add anything to the data
sal_title_db.groupby('title')['salary'].mean().round(0)

In [ ]:
#Create a Histogram of the most common salary ranges for employees
sal_title_db.hist(column='salary',color = 'salmon')
plt.xlabel('Salary Range')
plt.ylabel('Salary Frequency/Count')
plt.title('Salary Average Distribution')

In [ ]:
 # Create a Bar Chart of Average Salary by title
sal_title_db2 = sal_title_db.groupby(['title'])['salary'].mean()
sal_title_db2.plot.barh(color='lightblue')
plt.ylabel('Job Title')
plt.xlabel('Avg Salary')
plt.title('A Look at Salary Averages Across Job Titles')
plt.show()

In [ ]:
emp = final_db.loc[final_db['emp_no'] == 499942]
emp